body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #4742F4;
    height: 100vh;
    box-shadow: 0px 0px 100px #211DA8 inset;
    font-family: 'Varela Round', sans-serif;
    color: #F5D742;
}

h1{
    font-family: 'Permanent Marker', cursive;
    font-size:  60px;
    color: #F5D742;
}


header{
    display: flex;
    flex-direction: column;
}
.main-container{
    display: flex;
    flex-flow: row wrap;
    height: 700px;
    width: 700px;
    background-color: white;
    border: 5px solid #211DA8;
    box-shadow: 0px 0px 20px #211DA8;
    border-radius: 8px;
}
.grid-container{
    flex-grow: 1;
}

.playground{
    display: flex;

}
#reset{
    background-color: #DFF536;
    color: #4742F4;
}

button{
    height: 45px;
    width: 150px;
    border: none;
    background-color: #211DA8;
    color: #F5D742;
    border-radius: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    margin: 0 4px;
}

button:hover{
    box-shadow: 0 0 5px #F5D742 inset;
}
.active{
    background-color: #645EFF;
}

footer{
    margin-top: 20px;
}

.logo-github{
    width: 25px;
    height: auto;
}

.logo-github:hover{
    transform: scale(1.2);
}

